{% include 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
	
        
	<ul id="accordion" class="accordion">
    <li>
<div class="col-12 profile-pic">
<img class="img-responsive" alt="" src=""id="profile-picture">

<div class="username">
    <h2 id="heroname">Heroname</h2>
    <p id="herowork"><i class="fa fa-briefcase"></i> Hero Work.</p>
</div>
    
</div>
        
    </li>
		<li>
			<div class="link"><i class="fa fa-globe"></i>Apperance<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="#"id="gender">Gender: </a></li>
				<li><a href="#" id="race">Race:</a></li>
				<li><a href="#" id="heigth-weight"> Height: Weight:</a></li>
				<li><a href="#" id="color">Hair Color: Eye Color:</a></li>
			</ul>
		</li>
		<li class="default open">
			<div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
                <li><a href="#">
                    <span class="tags" id="combat" title="80">Combat</span> 
                    <span class="tags" id="durability" title="80">Durability</span> 
                    <span class="tags" id="intelligence" title="80">Intelligence</span> 
                    <span class="tags" id="power" title="80">Power</span> 
                    <span class="tags" id="speed" title="80">Speed</span> 
                    <span class="tags" id="strength" title="80">Strength</span> </li></a>
			</ul>
		</li>
	</ul>
	</div>
    
    
    
 
    
</div>
<script src="/static/js/details.js"></script>
<script>
    var id = "{{id}}";
</script>
{% endblock content %}
